@media (min-width: 48rem) {

    body{
        align-items: center;
        justify-content: center;
    }

    .main-container {
        width: 80%;

        padding: 4.8rem 8rem;
        margin-bottom: 8rem;

        border-radius: 2.5rem;
    }

    .tip-section {
        gap: 2.4rem;

        padding: 0;
    }

    .tip-section__buttons-container__buttons {
        display: grid;
    
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .result-section{
        padding: 4.3rem 4.75rem;
    
        gap: 1.6rem;
    }

    .result-section__results__tip-section__value{
        font-size: 4.8rem;
        line-height: 7.1rem;
        letter-spacing: -0.1rem;
    }

    .result-section__results__total-section__value{
        font-size: 4.8rem;
        line-height: 7.1rem;
        letter-spacing: -0.1rem;
    }
}

