:root {
    --background-color: #C5E4E7;

    --main-title: #3D6666;

    --container: #FFFFFF;

    --svg-icons-color: #9EBBBD;

    --input-title-color: #5E7A7D;
    --input-color: #F3F9FA;
    --input-placeholder-color: #9EBBBD;
    --input-number-color: #00474B;
    --input-active-border-color: #26C2AE;
    --input-error-color: #E17052;

    --tip-title-color: #5E7A7D;
    --tip-button-color: #00474B;
    --tip-button-text-color: #FFFFFF;
    --tip-button-active-color: #26C2AE;
    --tip-button-active-text-color: #00474B;
    --tip-button-hover-color: #9FE8DF;

    --tip-custom-button-color: #F3F9FA;
    --tip-custom-button-text-color: #547878;

    --result-section-background-color: #00474B;
    --result-primary-text-color: #FFFFFF;
    --result-secondary-text-color: #7F9D9F;
    --result-number-color: #26C2AE;
    --result-button-color: #26C2AE;
    --result-button-text-color: #00474B;
    --result-button-hover-color: #9FE8DF;
    --result-button-empty-color: #0D686D;
}


.text-preset-1 {
    font-size: 4.8rem;
    line-height: 7.1rem;
    letter-spacing: -0.1rem;
}

.text-preset-2 {
    font-size: 3.2rem;
    line-height: 4.7rem;
    letter-spacing: -0.067rem;
}

.text-preset-3 {
    font-size: 2.4rem;
    line-height: 3.6rem;
    letter-spacing: 0;
}

.text-preset-4 {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0;
}

.text-preset-5 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0;
}

.text-preset-6 {
    font-size: 1.3rem;
    line-height: 1.9rem;
    letter-spacing: 0;
}





body {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100dvh;
    gap: 4rem;

    background-color: var(--background-color);
}

.logo {
    margin-top: 5rem;
}

.main-container {
    display: flex;
    flex-direction: column;

    background-color: var(--container);

    width: 100%;

    padding: 3.2rem 2.4rem;
    gap: 3.2rem;

    border-radius: 2.5rem 2.5rem 0 0;
}

.tip-section {
    display: flex;
    flex-direction: column;

    gap: 3.2rem;

    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.tip-section__input-container {
    display: flex;
    flex-direction: column;

    gap: 0.8rem;
}

.tip-section__input-container__title-error-container {
    display: flex;
    justify-content: space-between;
}

.tip-section__input-container__title {
    color: var(--input-title-color);
}

.tip-section__input-container__error {
    color: var(--input-error-color);
}

.tip-section__input-container__input {
    background-color: var(--input-color);
    color: var(--input-number-color);

    border: solid 0.3rem transparent;
    border-radius: 0.5rem;

    padding: 0.8rem 1.6rem;

    text-align: right;

    cursor: pointer;
}

.tip-section__input-container__input:focus{
    outline: none;
    border: solid 0.3rem var(--input-active-border-color);
}

.tip-section__input-container__input--bill-icon {
    background-image: url('../images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position: 1.8rem center;
}

.tip-section__input-container__input--people-icon {
    background-image: url('../images/icon-person.svg');
    background-repeat: no-repeat;
    background-position: 1.8rem center;
}

.tip-section__input-container__input::placeholder {
    color: var(--input-placeholder-color);
}

.tip-section__buttons-container {
    display: flex;
    flex-direction: column;

    gap: 0.8rem;
}

.tip-section__buttons-container__title {
    color: var(--tip-title-color);
}

.tip-section__buttons-container__buttons {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    gap: 1.6rem;
}

.tip-section__buttons-container__buttons__button {
    height: 4.8rem;

    background-color: var(--tip-button-color);
    color: var(--tip-button-text-color);

    border: none;
    border-radius: 0.5rem;

    cursor: pointer;
}

.tip-section__buttons-container__buttons__button:hover {
    background-color: var(--tip-button-active-color);
    color: var(--tip-button-active-text-color);
}

.tip-section__buttons-container__buttons--custom-button {
    background-color: var(--tip-custom-button-color);
    color: var(--tip-custom-button-text-color);
}



.result-section{
    display: flex;
    flex-direction: column;

    background-color: var(--result-section-background-color);

    border-radius: 1.5rem;

    padding: 2.4rem;

    gap: 3.2rem;
}

.result-section__results{
    display: flex;
    flex-direction: column;
    
    gap: 2.4rem;
}


.result-section__results__tip-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result-section__results__tip-section__text{
    display: flex;
    flex-direction: column;
}

.result-section__results__tip-section__text__primary{
    color: var(--result-primary-text-color);
}

.result-section__results__tip-section__text__secondary{
    color: var(--result-secondary-text-color);
}

.result-section__results__tip-section__value{
    color: var(--result-number-color);
}



.result-section__results__total-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result-section__results__total-section__text{
    display: flex;
    flex-direction: column;
}


.result-section__results__total-section__text__primary{
    color: var(--result-primary-text-color);
}

.result-section__results__total-section__text__secondary{
    color: var(--result-secondary-text-color);
}

.result-section__results__total-section__value{
    color: var(--result-number-color);
}



.result-section__button{
    height: 4.8rem;

    background-color: var(--result-button-empty-color);
    color: var(--result-button-text-color);

    border: none;
    border-radius: 0.5rem;

    cursor: pointer;
}

.result-section__button:hover {
    background-color: var(--tip-button-active-color);
}


.hidden {
    display: none;
}