:root{
    --background-color: #C5E4E7;

    --main-title: #3D6666;

    --card: #FFFFFF;

    --svg-icons-color: #9EBBBD;

    --input-title-color: #5E7A7D;
    --input-color: #F3F9FA;
    --input-number-color: #00474B;
    --input-active-border-color: #26C2AE;
    --input-error-color: #E17052;

    --tip-title-color:  #5E7A7D;
    --tip-button-color: #00474B;
    --tip-button-text-color: #FFFFFF;
    --tip-button-active-color: #26C2AE;
    --tip-button-active-text-color: #00474B;
    --tip-button-hover-color: #9FE8DF;

    --tip-custom-button-color: #F3F9FA;
    --tip-custom-button-text-color: #547878;

    --calculation-card-background: #085C61;
    --calculation-primary-text-color: #FFFFFF
    --calculation-secondary-text-color: #7F9D9F;
    --calculation-number-color: #26C2AE;
    --calculation-button-color: #26C2AE;
    --calculation-button-text-color: #00474B;
    --calculation-button-hover-color: #9FE8DF;
    --calculation-button-empty-color: #0D686D;
}


.text-preset-1{
    font-size: 4.8rem;
    line-height: 7.1rem;
    letter-spacing: -0.1rem;
}

.text-preset-2{
    font-size: 3.2rem;
    line-height: 4.7rem;
    letter-spacing: -0.067rem;
}

.text-preset-3{
    font-size: 2.4rem;
    line-height: 3.6rem;
    letter-spacing: 0;
}

.text-preset-4{
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0;
}

.text-preset-5{
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0;
}

.text-preset-6{
    font-size: 1.3rem;
    line-height: 1.9rem;
    letter-spacing: 0;
}